@import "../../common";
.App-Home{
    
    $rexLogoSize: 32px;
    $reactLogoSize: 460px;
    
    .App-info{
        margin: 0 auto;
    }
    
    .App-React {
        text-align: center;
    }
    
    .App-Home-logo {
        position: relative;
        width: $reactLogoSize;
        height: $reactLogoSize;
        margin: 0 auto;
        .App-logo-react {
            width: 100%;
            height: 100%;
            pointer-events: none;
            position: absolute;
            left: 0;
            top: 0;
        }
        .App-logo-rex {
            @extend .App-logo-react;
            border-radius: 50%;
            width: $rexLogoSize;
            height: $rexLogoSize;
            position: absolute;
            left: 50%;
            top: 50%;
            margin-left: -$rexLogoSize / 2;
            margin-top: -$rexLogoSize / 2;
            animation: auto !important;
        }
    }
    
    .learn-doc{
        text-align: center;
    }
    .App-info-link{
        display: block;
        width: 100%;
        text-align: center;
    }
    
    @media (prefers-reduced-motion: no-preference) {
        .App-logo-react {
            animation: App-logo-spin infinite 20s linear;
        }
    }
    
    @keyframes App-logo-spin {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }
    
}