@import "../../../../common";

.App-Menu-Bar {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: $app-menu-width;
  background-color: $theme-menu-color;
  z-index: 1;
  .App-Menu{
    width: 100%;
  }
}